<!DOCTYPE html>
<head>
  <title>
    {% block title %} Sigma {% endblock %}
  </title>

  <!-- Boostrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

  <!-- Boostrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Custom CSS -->
  <style>
    /* Leave some empty around the body. */
    body {
      padding-top: 80px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
    }
  </style>

</head>
<body>
  {% include 'navbar.html' %}
  {% block body %}{% endblock %}
</body>
