{% extends "base.html" %}

{% block title %} Projetos - Sigma {% endblock %}

{% block body %}

<h1>Projetos do LEDS</h1>

<br>

<div class="row">
  {% for projeto in projetos %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://placehold.it/200x200" alt="Logo">
      <div class="caption">
        <h3> {{ projeto.nome | upper }} </h3>
        <p> {{ projeto.descricao | truncatewords:"50" }} </p>
        <p><a href="#" class="btn btn-primary" role="button">Visualizar</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
